/* app css stylesheet */

body {
  padding-top: 20px;
}

.items {
  list-style: none;
  
}

.thumb {
  float: right;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  height: auto;
  max-width: 100px;
  width: 100%;
}

.items li {
  clear: both;
  height: 115px;
  padding-top: 15px;
  
}

.italicized {
  font-style: italic;
  font-style: oblique;
  font-color: #e0ffff;
}


/** Detail View **/
img.item {
  float: left;
  border: 1px solid black;
  margin-right: 3em;
  margin-bottom: 2em;
  background-color: white;
  padding: 2em;
  height: 400px;
  width: 400px;
}

h1 {
  border-bottom: 1px solid gray;
}