{% extends "main.html" %}
{% block content %}
{% import '_helpers.html' as helpers %}

<div class="col-xs-12">

			<h1>{{ category.name }} </h1>
		<!--	<figure class="creator">
				<img src="{{ url_for('static', filename='blank_user.gif') }}">
				<figcaption>Catalog item creator's name goes here</figcaption>
			</figure>
			</h1>-->
	
	<span class="pull-right"> 
     <a href='{{url_for('editCategory', category_id = category.id) }}'>Edit Category</a> | 
	 <a href='{{url_for('deleteCategory', category_id = category.id) }}'>Delete Category</a>
	</span>



	
  {% if items.items ==[] %}	
		     <a href="{{url_for('addCatalogItem', category_id = category.id )}}">
				<button class="btn well" id="">
					<span class="" aria-hidden="true"></span><h4>Add Catalog Items</h4>
				</button>
			</a>		
			{% else %}	
		     <a href="{{url_for('addCatalogItem', category_id = category.id )}}">
				<button class="btn well" id="">
					<span class="" aria-hidden="true"></span><h4>Add More Catalog Items</h4>
				</button>
			</a>
			
			{% endif%}
	

	{% with messages = get_flashed_messages() %}
      {% if messages %}
          
        
        {% for message in messages %}
         <div class="alert alert-success">
            <strong > {{ message }} </strong>
          </div>
        {% endfor %}
       
        {% endif %}
    {% endwith %}


{% if items.items !=[] %}	
		

		{% for item in items.items %}
		<div class="well">	
          <span class="pull-right"> <img src="/static/img/{{item.pic}}" alt="" class="img-responsive" width="100" height="90" >
		 </span>
        <div></div>
		<h3>	
		<strong>{{item.name}}</strong>
		
		</h3>

		<p class="lead">{{item.description}}</p>

								
		</div>
		<a href='{{url_for('editCatalogItem', category_id = category.id, item_id=item.id ) }}'>Edit</a> | 
							<a href='{{url_for('deleteCatalogItem', category_id = category.id, item_id=item.id ) }}'>Delete</a>
		{% endfor %}

		{{ helpers.paginate(items) }}

      </div>
	{% endif %}
{% endblock %}
