{% extends "main.html" %}
{% block content %}
{% import '_helpers.html' as helpers %}

<div class="col-xs-12">

			<h1>{{ category.name }} </h1>
		
	<span class="pull-right"> 
     
	 <a href='{{url_for('editCategory', category_name = category.name) }}'>Edit Category</a> | 
	 <a href='{{url_for('deleteCategory', category_name = category.name) }}'>Delete Category</a>
	</span>



	
  {% if items.items ==[] %}	
		     <a href="{{url_for('addCatalogItem', category_name = category.name )}}">
				<button class="btn well" id="">
					<span class="" aria-hidden="true"></span><h5>Add Catalog Items</h5>
				</button>
			</a>		
			{% else %}	
		     <a href="{{url_for('addCatalogItem', category_name = category.name )}}">
				<button class="btn  well">
					<span class="" aria-hidden="true"></span><h5>Add More Catalog Items</h5>
				</button>
			</a>
			
			{% endif%}
	

	{% with messages = get_flashed_messages() %}
      {% if messages %}
      
        {% for message in messages %}

        
          {% if message == "New catalog item could not be added to this category due to an error, please make sure you are not using a name already in the category" or message == "Item name could not be changed, please make sure you are not using a name already in the category"%} 
              
            <div class="panel panel-title alert alert-warning" >  
              {%else%}
             <div class="panel panel-title alert alert-success">
      
             {% endif %}

            <strong> {{ message }} </strong>
        
              {% endfor %}
              {% endif %}
           </div>
    {% endwith %}



{% if items.items !=[] %}	
		
	 {% for item in items.items %}
          <ul class="items panel panel-body">
          <li class="row thumbnail well">
            <a href="{{url_for('showItemDetails', category_name= category.name, item_name = item.name)}}" class="thumb"><img src="/static/img/{{item.pic}}"></a>
            <a href="{{url_for('showItemDetails', category_name= category.name, item_name = item.name)}}">{{item.name}}</a>
            <p>{{item.description}}</p>
          </li>
          <a href='{{url_for('editCatalogItem', category_name = category.name, item_name=item.name ) }}'>Edit</a> | 
							<a href='{{url_for('deleteCatalogItem', category_name = category.name, item_name=item.name ) }}'>Delete</a>
          </ul>
	
		{% endfor %}

		{{ helpers.paginate(items) }}

      
	{% endif %}
	</div>
{% endblock %}
