{% extends "main.html" %}
{% block content %}
{% import '_helpers.html' as helpers %}

	<div class="col-xs-12">

			<h1>{{category.name}}
			
			</h1>
	</div>

	
	{% if items.items !=[] %}	
		 {% for item in items.items %}
          <ul class="items panel panel-body">
          <li class="row thumbnail well">
            <a href="{{url_for('showItemDetails', category_name= category.name, item_name = item.name)}}" class="thumb"><img src="/static/img/{{item.pic}}"></a>
            <a href="{{url_for('showItemDetails', category_name= category.name, item_name = item.name)}}">{{item.name}}</a>
            <p>{{item.description}}</p>
          </li>
          
          </ul>
	
		{% endfor %}

		{{ helpers.paginate(items) }}

	{% endif %}
</div>
{% endblock %}
