{% extends "main.html" %}
{% block content %}
{% import '_helpers.html' as helpers %}


{% with messages = get_flashed_messages() %}
      {% if messages %}
       <div class="panel panel-title alert alert-success">   
        <ul>
        {% for message in messages %}
        
            <strong> {{ message }} </strong>
        
        {% endfor %}
        </ul>
        {% endif %}
        </div>
    {% endwith %}


<div class="col-xs-3">

  
  {% for category in categories.items %}

    <a href = "{{url_for('showCatalogItem', category_name = category.name)}}" class="btn btn-block btn-default btn-lg">
        
          {{category.name}} 
    </a>
  {% endfor %}

{{ helpers.paginate(categories) }}
  
</div>


<div  class="col-xs-9">
{% for item in items.items %}
<ul class="items">
          <li class="thumbnail well">
            <a href="{{url_for('showItemDetails', category_name= item.category.name, item_name = item.name)}}" class="thumb"><img src="/static/img/{{item.pic}}" ></a>
            <a href="{{url_for('showItemDetails', category_name= item.category.name, item_name = item.name)}}">{{item.name}}</a>
            <a href="{{url_for('showCatalogItem', category_name= item.category.name)}}" class="italicized">  ({{item.category.name}})</a>
            <p>{{item.description}}</p>
          </li>
</ul>
{% endfor %}
</div>

{% endblock %}


